{% extends "app/layout.html" %}
{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<h3>Todas las preguntas</h3>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
  
{% else %}
    <p>No polls are available.</p>
{% endif %}
<h3><a href="temas">Temas</a></h3>
{% if request.user.is_authenticated %}
<a href="{% url 'add' %}"><h3>Insertar pregunta</h3></a> 
{% endif %}

{% endblock %}